section {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.clients__img {
  max-width: 120px;
}

.clients__desc {
  /* min-width: 200px; */
}

.rounded-5 {
  border-radius: 1rem !important;
}

.translate-card-custom--y {
  transform: translateY(-30px);
}

.translate-card-custom-y {
  transform: translateY(30px);
}

.testimonial {
  background-image: url("../images/Ellipse\ 94.png");
  background-repeat: no-repeat;
  background-position: 50px 90%;
}

.contact__inner-container {
  background-color: #f4f9ff;
  border-radius: 4rem;
}

.contact__input-container input {
  outline: 0;
}

.input__wrapper .btn {
  max-width: 170px;
  flex: 0 1;
}
.input__wrapper input {
  width: 90%;
  flex: 1 1;
}


